/**
 * Color vars
 */
/**
 * MIXINS
 */
/**
 * Main styles
 */
body {
  font-family: Helvetica, Arial, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after,
.group:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
}
label {
  position: relative;
  display: block;
  width: 500px;
}
.ui-datepicker {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  padding: 12px 0 22px;
  width: 250px;
  background: #3a3b3c;
  border: none;
  color: #f0f2f4;
}
.ui-datepicker:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 170px;
  border-width: 6px 6px;
  border-color: transparent transparent #3a3b3c;
}
.ui-datepicker-header {
  position: relative;
  margin: 0 22px;
  padding: 0 30px;
  text-align: center;
}
.ui-datepicker-title {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #f0f2f4;
  text-rendering: optimizeLegibility;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  position: absolute;
  top: 5px;
  left: 0;
  margin: 0;
  width: 0;
  height: 0;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
  width: 9px;
  height: 9px;
  opacity: 0.5;
  background: url(../images/icons/icons-interface.png) -24px 0;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}
.ui-datepicker-prev span:hover,
.ui-datepicker-next span:hover {
  opacity: 1;
}
.ui-datepicker-next {
  right: 9px;
  left: auto;
}
.ui-datepicker-next span {
  background-position: -33px 0;
}
.ui-datepicker td {
  padding: 3px 0;
}
.ui-datepicker tr:first-child td {
  padding-top: 6px;
}
.ui-datepicker a {
  opacity: 1;
}
.ui-datepicker .ui-datepicker-buttonpane {
  padding-top: 12px;
}
.ui-datepicker .a-btn {
  width: 205px;
  margin: 13px 0 0 22px;
}
.ui-icon {
  display: block;
  overflow: hidden;
  text-indent: -99999px;
  background-repeat: no-repeat;
}
.ui-datepicker-calendar th {
  padding: 20px 0 12px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: normal;
  color: #909294;
}
.ui-datepicker-calendar th:first-child,
.ui-datepicker-calendar td:first-child {
  padding-left: 11px;
}
.ui-datepicker-calendar th:last-child,
.ui-datepicker-calendar td:last-child {
  padding-right: 11px;
}
.ui-datepicker-calendar .ui-state-default {
  display: inline-block;
  margin: 0 0 0 4px;
  padding: 0 5px 0 0;
  width: 18px;
  height: 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #f0f2f4;
  font-size: 11px;
  line-height: 24px;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker-calendar .ui-state-default:hover {
  background: #606161;
}
.ui-datepicker-calendar .ui-state:hover {
  background-color: #606161;
}
.ui-datepicker-calendar .ui-state-highlight,
.ui-datepicker-calendar .ui-state-highlight:hover {
  color: #ffffff;
  background-color: #242526;
}
.ui-datepicker-calendar .ui-state-active,
.date-range-selected a .ui-datepicker-calendar .ui-state-active:hover {
  color: #ffffff;
  background-color: #7e98e5;
}
.error .ui-datepicker-calendar .ui-state-active,
.error .date-range-selected a .ui-datepicker-calendar .ui-state-active:hover {
  background-color: #e64545;
}
.ui-datepicker-calendar .ui-state-disabled .ui-state-default {
  opacity: 0.5;
  background: none;
}
/**
 * LXRangeDatepicker
 */
.lxrange-datepicker {
  position: absolute;
  top: 30px;
  right: -25px;
  z-index: 3;
  display: none;
  width: 500px;
  background: #3a3b3c;
  border-radius: 3px;
}
.lxrange-datepicker .lxrange-selected,
.lxrange-datepicker .lxrange-standard {
  padding: 15px 0 0 22px;
  color: #909294;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-align: left;
}
.lxrange-datepicker .lxrange-standard {
  clear: both;
  padding-top: 20px;
  padding-bottom: 25px;
}
.lxrange-datepicker .lxrange-standard span {
  padding-left: 7px;
  color: #7e98e5;
  cursor: pointer;
}
.lxrange-datepicker .lxrange-standard span:hover {
  text-decoration: underline;
}
.lxrange-datepicker .lxrange-close {
  position: absolute;
  top: 9px;
  right: 8px;
  display: block;
  width: 11px;
  height: 11px;
  background: url(../images/icons/icons-interface.png) -37px -22px;
  cursor: pointer;
}
.lxrange-datepicker .lxrange-pickers {
  position: relative;
}
.lxrange-datepicker .lxrange-start,
.lxrange-datepicker .lxrange-end {
  float: left;
  width: 49%;
}
.lxrange-datepicker .lxrange-middle {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  height: 100%;
  width: 10px;
  background: -webkit-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px), -webkit-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
  background: -moz-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px), -moz-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
  background: -o-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px), -o-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
  background: -ms-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px), -ms-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
  background: linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px), linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
  background-size: 10px 19px;
}
.lxrange-datepicker .ui-datepicker {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.lxrange-datepicker .ui-datepicker .ui-state-default {
  padding: 0 3px;
  text-align: center;
}
.lxrange-datepicker .ui-datepicker .ui-state-active {
  background: #242526;
}
.lxrange-datepicker .ui-datepicker .ui-datepicker-prev,
.lxrange-datepicker .ui-datepicker .ui-datepicker-next {
  top: 8px;
}
.lxrange-datepicker .ui-datepicker:after {
  display: none;
}
.lxrange-datepicker .date-range-selected {
  position: relative;
}
.lxrange-datepicker .date-range-selected .ui-state-default {
  position: relative;
  z-index: 2;
}
.lxrange-datepicker .date-range-selected .ui-state-active,
.lxrange-datepicker .date-range-selected .ui-state-highlight,
.lxrange-datepicker .date-range-selected .ui-state-default:hover {
  background: none;
}
.lxrange-datepicker .date-range-selected:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  line-height: 17px;
  margin: 3px 0 4px;
  color: #ffffff;
  text-align: center;
  background-color: #7e98e5;
}
.lxrange-datepicker .date-range-selected.first:before {
  border-radius: 2px 0px 0px 2px;
}
.lxrange-datepicker .date-range-selected.last:before {
  border-radius: 0px 2px 2px 0px;
}
.lxrange-datepicker .date-range-selected.first.last:before {
  border-radius: 2px;
}
.lxrange-datepicker .date-range-selected:first-child:before,
.lxrange-datepicker .date-range-selected:last-child:before {
  width: 33px;
}
.lxrange-datepicker .date-range-selected.only:before {
  width: 24px;
  height: 24px;
  margin: 0 4px;
  border-radius: 2px;
}
.lxrange-datepicker:after {
  content: "";
  position: absolute;
  top: -12px;
  right: 67px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px;
  border-color: transparent transparent #3a3b3c;
}
