/**
 * Color vars
 */
@font-family: Helvetica,Arial,sans-serif;
@font-family-header: Roboto,@font-family;

@bg-color-ds: #242526; @bg-color-ws: #fff;
@bg-color-panel: #2f3031;
@bg-color-panel-sub: #3a3b3c;
@bg-color-separate-ds: #505254; @bg-color-separate-ws: #e0e2e4;
@color-gray: #909294;
@input-border-ds: #6d6e70; @input-border-ws: #c0c2c4;
@link-ds-hover: #c0c2c4; @link-ws-hover: #6d6e70;
@text-color-ds: #f0f2f4; @text-color-ws: #3a3b3c;
@link-color: #7e98e5;
@color-pos: #53a642;
@color-neg: #e64545;
@bg-link-ds-hover: #606161;

/**
 * MIXINS
 */

.vendor-prefix(@property; @value) {
    -webkit-@{property}:@value;
    -moz-@{property}:@value;
    @{property}:@value;
    }

.box-sizing(...) {
    .vendor-prefix(box-sizing; @arguments);
    }

.border-radius(@radius) {
    .vendor-prefix(border-radius; @radius + 0px);
    }

.box-shadow(...) {
    .vendor-prefix(box-shadow; @arguments);
    }

.arrow(n; @width; @height; @color) {
    border-width:@height + 0px @width / 2 + 0px;
    border-color:transparent transparent @color;
    }

.fxc-group() {
    &:after {
        //visibility:hidden;
        display:block;
        content:"";
        clear:both;
        height:0;
        }
    }

/**
 * Main styles
 */

body {
    font-family:@font-family;
    }
table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    }

.clearfix, .group {
    .fxc-group();
    }

label {
    position:relative;
    display:block;
    width:500px;
    }

.ui-datepicker {
    .box-sizing(border-box);
    .box-shadow(0 1px 5px 0 rgba(0,0,0,0.1));
    .border-radius(3);
    display:none;
    padding:12px 0 22px;
    width:250px;
    background:@bg-color-panel-sub;
    border:none;
    color:@text-color-ds;
    &:after {
        content:"";
        position:absolute;
        top:-12px;
        left:170px;
        .arrow(n; 12; 6; @bg-color-panel-sub);
        }
    &-header {
        position:relative;
        margin:0 22px;
        padding:0 30px;
        text-align:center;
        }
    &-title {
        font-family:@font-family-header;
        font-size:16px;
        font-weight:500;
        color:@text-color-ds;
        text-rendering:optimizeLegibility;
        }
    &-prev ,
    &-next {
        position:absolute;
        top:5px;
        left:0;
        margin:0;
        width:0;
        height:0;
        span {
            width:9px;
            height:9px;
            opacity:0.5;
            background:url(../images/icons/icons-interface.png) -24px 0;
            cursor:pointer;
            .vendor-prefix(transition, opacity 0.2s ease 0s);
            &:hover {
                opacity:1;
                }
            }
        }
    &-next {
        right:9px;
        left:auto;
        span {
            background-position:-33px 0;
            }
        }
    td {
        padding:3px 0;
        }
    tr:first-child td {
        padding-top:6px;
        }
    a {
        opacity:1;
        }
    .ui-datepicker-buttonpane {
        padding-top:12px;
        }
    .a-btn {
        width:205px;
        margin:13px 0 0 22px;
        }
    }

.ui-icon {
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    background-repeat: no-repeat;
    }

.ui-datepicker-calendar {
    th {
        padding:20px 0 12px;
        font-size:9px;
        text-transform:uppercase;
        font-weight:normal;
        color:@color-gray;
        }
    th,td {
        &:first-child {
            padding-left:11px;
            }
        &:last-child {
            padding-right:11px;
            }
        }
    .ui-state {
        &-default {
            display:inline-block;
            margin:0 0 0 4px;
            padding:0 5px 0 0;
            width:18px;
            height:24px;
            .border-radius(2);
            color:@text-color-ds;
            font-size:11px;
            line-height:24px;
            text-align:right;
            text-decoration:none;
            &:hover {
                background:@bg-link-ds-hover;
                }
            }
        &:hover {
            background-color:@bg-link-ds-hover;
            }
        &-highlight,
        &-highlight:hover {
            color:@bg-color-ws;
            background-color:@bg-color-ds;
            }
        &-active,
        .date-range-selected a
        &-active:hover,  {
            color:@bg-color-ws;
            background-color:@link-color;
            .error & {
                background-color:@color-neg;
                }
            }
        &-disabled .ui-state-default {
            opacity:0.5;
            background:none;
            }
        }
    }

/**
 * LXRangeDatepicker
 */

.lxrange-datepicker {
    position:absolute;
    top:30px;
    right:-25px;
    z-index:3;
    display:none;
    width:500px;
    background:@bg-color-panel-sub;
    border-radius:3px;
    .lxrange-selected, .lxrange-standard {
        padding:15px 0 0 22px;
        color:@color-gray;
        font-family:@font-family;
        font-size:11px;
        text-align:left;
        }
    .lxrange-standard {
        clear:both;
        padding-top:20px;
        padding-bottom:25px;
        span {
            padding-left:7px;
            color:@link-color;
            cursor:pointer;
            &:hover {
                text-decoration:underline;
                }
            }
        }

    .lxrange-close {
        position:absolute;
        top:9px;
        right:8px;
        display:block;
        width:11px;
        height:11px;
        background:url(../images/icons/icons-interface.png) -37px -22px;
        cursor:pointer;
        }

    .lxrange-pickers {
        position:relative;
        }

    .lxrange-start, .lxrange-end {
        float:left;
        width:49%;
        }

    .lxrange-middle {
        position:absolute;
        left:50%;
        margin-left:-10px;
        height:100%;
        width:10px;
        background:
        -webkit-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px),
        -webkit-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
        background:
        -moz-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px),
        -moz-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
        background:
        -o-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px),
        -o-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
        background:
        -ms-linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px),
        -ms-linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
        background:
        linear-gradient(45deg, transparent 5px, #666768 6px, transparent 7px),
        linear-gradient(-45deg, transparent 12px, #666768 13px, transparent 14px);
        background-size:10px 19px;
        }

    .ui-datepicker {
        width:100%;
        padding:0;
        margin:0;
        .box-sizing(border-box);
        .box-shadow(none);
        .ui-state-default {
            padding:0 3px;
            text-align:center;
            }
        .ui-state-active {
            background:#242526;
            }
        .ui-datepicker-prev, .ui-datepicker-next {
            top:8px;
            }
        &:after {
            display:none;
            }
        }

    .date-range-selected {
        position:relative;
        .ui-state-default {
            position:relative;
            z-index:2;
            }
        .ui-state-active, .ui-state-highlight, .ui-state-default:hover {
            background:none;
            }
        &:before {
            content:"";
            display:block;
            position:absolute;
            width:100%;
            height:17px;
            line-height:17px;
            margin:3px 0 4px;
            color:@bg-color-ws;
            text-align:center;
            background-color:@link-color;
            }
        &.first:before {
            border-radius:2px 0px 0px 2px;
            }
        &.last:before {
            border-radius:0px 2px 2px 0px;
            }
        &.first.last:before {
            border-radius:2px;
            }
        &:first-child:before, &:last-child:before {
            width:33px;
            }
        &.only:before {
            width: 24px;
            height: 24px;
            margin:0 4px;
            border-radius:2px;
            }
        }

    &:after {
        content:"";
        position:absolute;
        top:-12px;
        right:67px;
        width:0;
        height:0;
        border-style:solid;
        border-width:6px 6px;
        border-color:transparent transparent #3a3b3c;
        }
    }
